@import "../main.module.scss";
.cookies {
  position: fixed;
  bottom: 0rem;
  left: 0;
  z-index: 99;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
  padding: 1.4rem;
  background-color: #222;
  animation: pullOut 1s linear;
  transition: all 1s;

  p {
    font-family: $font-rajdhani;
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    color: snow;

    a {
      color: skyblue;
    }
  }

  button {
    font-family: $font-rajdhani;
    border: none;
    border-radius: 3px;
    background-color: orangered;
    color: snow;
    padding: 1rem 2.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: auto;

    &:hover {
      background-color: seagreen;
    }
    &:focus {
      outline: none;
    }
  }
}
