@import "../main.module.scss";
.cookies {
  position: fixed;
  bottom: 0rem;
  left: 0;
  z-index: 99;

  display: flex;
  flex-wrap: wrap;

  width: 100%;
  padding: 2rem;
  background-color: #494d4e;
  animation: pullOut 1s linear;
  transition: all 1s;

  p {
    font-family: $font-rajdhani;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: snow;

    a {
      text-decoration: none;
      color: var(--color-secondary);
    }
  }

  button {
    font-family: $font-rajdhani;
    border: none;
    border-radius: 3px;
    background-color: orangered;
    color: snow;
    padding: 1rem 2.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: seagreen;
    }
    &:focus {
      outline: none;
    }
  }
}
