@import "../main.module.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 9;
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  padding: 0rem 2rem 1rem 2rem;

  @include respond('m'){
    padding: 0 .9rem;
    grid-template-columns: 7rem 1fr 7rem;
  }

  & > * {
    align-self: center;
  }

  &__logo {
    grid-column: 1/2;
  }
  &__name {
    grid-column: 2/3;
    margin: 0 1rem;

    h1 {
      text-align: center;
      font-family: $font-orbitron;
      font-size: 4.5rem;
      letter-spacing: 0.5rem;
      font-weight: 900;
      line-height: 1;
      text-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
      color: var(--color-primary);
      @include respond(s) {
        font-size: 4rem;
      }
    }
  }
  &__buttons {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border: none;
      background-color: transparent;
      text-decoration: none;
      transition: all 0.3s;
      color: var(--color-primary);

      & > * {
        font-size: 4rem;
      }

      &:hover {
        outline: none;
        cursor: pointer;
      }
      &:focus,
      :active {
        outline: none;
      }
    }
  }

  &__sub {
    grid-column: 1/4;
    text-align: center;
    h2 {
      font-family: $font-orbitron;
      font-size: 2.5rem;
      letter-spacing: 0.2rem;
      color: var(--color-primary-light);
      line-height: 1;
    }
  }
}

.menu {
  grid-column: 1/-1;
  overflow: hidden;
  transition: all 0.2s;

  ul {
    list-style: none;
    padding: 1rem;
    margin-top: 2rem;
    li {
      margin: 2.7rem 0;
      a {
        margin: 2.2rem 0;
        text-decoration: none;
        font-family: $font-orbitron;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2rem;
        color: var(--color-primary-dark);
        &:hover {
          color: var(--color-secondary);
        }
        @include respond(m) {
          font-size: 2.5rem;
        }
      }
    }
  }
}
