@import "../main.module.scss";

nav {

  @include respond('m'){
    display: none;
  }
}

.list {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: var(--color-primary);

  & > * {
    text-decoration: none;
    color: var(--bg-color);
    font-family: $font-rajdhani;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    transition: all 0.3s;

    &:hover {
      color: var(--color-secondary-light);
    }
  }
}
