@import "../main.module.scss";
.page {
  padding: 2rem;
  h1 {
    font-family: $font-orbitron;
    color: var(--color-secondary-dark);
    font-size: 3rem;
  }
  h2 {
    font-family: $font-orbitron;
    color: var(--color-secondary-dark);
    font-size: 2rem;
  }
  p {
    padding: 2rem;
    font-family: $font-raleway;
    color: var(--color-primary-dark);
    font-size: 2rem;
  }
  ul {
    padding: 2rem;
    font-family: $font-raleway;
    color: var(--default-font-color);
    font-size: 1.8rem;
  }
}
