@import "../main.module.scss";

main{

  @include respond('m'){
    margin-top: 10.7rem;
  }
}
.header {
  display: inline-block;
  padding: 2rem;
  color: var(--color-primary);
  font-family: $font-orbitron;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
  border-radius: 3px;
  margin: 2rem;
  box-shadow: .2rem .2rem .3rem rgba(0,0,0,.6);

}
.volume {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond(s) {
    grid-template-columns: 1fr;
  }
}

.text {
  padding: 2rem;
  font-family: $font-raleway;
  font-size: 2rem;
  @include respond(s) {
    text-align: center;
  }
}
